*{
    margin: 0px;
    padding: 0px;

}

body{
    height: 100vh;
    background: url("../assets/images/background-pattern-desktop.svg") no-repeat hsl(275, 100%, 97%);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}